.container{
  margin: 40px auto;
}

ul{
  margin-top: 15px;
  padding-left: 0px;
}
li{
  clear: both;
  position: relative;
  list-style-type: none;
}

li .edit{
  display:none;
}
li.editing .edit{
  display:block;
}
li.editing .display{
  display:none;
}
.fontsize{
  font-size: 150%;
  font-family: arial;
  font-style: oblique;
  font-weight: bold;
}
